*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    align-content: center;
    text-align: center;
}

.container {
    width: 600px;
    height: 600px;
    background-color: rgb(234, 147, 16);
    align-content: center;
    text-align: center;
    margin: 50px auto;
    border-radius: 5px;
}

input {
    width: 12%;
    height: 12%;
    opacity: 0.6;
    background-color: rgb(64, 240, 48);
    align-content: center;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    color: white;
}