body {
  background-color: cyan;
}

#lol {
  font-size: 30px;
  font-weight: 900;
  color: rgb(14, 13, 13);
  margin-top: 300px;
  transition: 1s;
}

#lol:hover {
  color: rgb(137, 130, 130);
  font-size: 40px;
  cursor: pointer;
 ;
}