*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

img {
    border-radius: 50%;
}

.container {
    width: 30lvw;
    height: 100lvh;
}

h5 {
    color: greenyellow;
}

.button1 {
    height: 50px;
    width: 100%;
    background-color: rgb(72, 70, 70);
    margin-top: 10px;
    align-content: center;
    border-radius: 5px;
}