*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    height: 100lvh;
    width: 100lvw;
    text-align: center;
    align-content: center;
    font-size: 40px;
    font-weight: bold;
}

.container {
    background-color: #000000;
    color: white;
    height: 60lvh;
    width: 60lvw;
    align-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
}