*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-content: center;
    text-align: center;
    width: 100lvw;
    height: 100lvh;
    background-color: rgb(144, 237, 237);
}

form {
    align-content: center;
    text-align: center;
    width: 60lvw;
    background-color: rgb(96, 142, 142);
    border-color: black 2px solid;
    border-radius: 10px;
    margin: auto;
}